page-splash {
    ion-content {background-color: rgb(14, 119, 172);
        background-image: url("../../assets/imgs/Splash.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

}
